<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../vue.js"></script>
</head>
<body>
	<div id="root">
		<input type="text" v-model="name">
		<button @click="handlSubmit">提交</button>
		<ul>
			<todo-list v-for="(item,index) in list" :key="index" :content="item" :index="index" @delete="handleDelete"></todo-list>
		</ul>
	</div>
	<script>
		Vue.component('todo-list',{
			props:["content","index"],
			template:'<li @click="handleClick">{{content}}</li>',
			methods:{
				handleClick:function(){
					console.log(this.content);
					this.$emit('delete',this.index);
				}
			}
		})
		new Vue({
			el:'#root',
			data:{
				name:'',
				list:[]
			},
			methods:{
				handlSubmit:function(){
					this.list.push(this.name);
					this.name='';
				},
				handleDelete:function(index){
					this.list.splice(index,1);
				}
			}

		})
	</script>
</body>
</html>